@media only screen and (max-width: 760px){
  *{
    font-size: 95%;
  }
  body {
    font-size: 95%;
  }

  .about_me{
    padding-right: 2%;
  }

  .column-left, .column-right{
    padding-right: 2%;
  }

  .li_main{
    padding-left: 3%;
    font-size: 95%;
  }

  .li_sub{
    font-size: 95%;
    }

}