
/*------------------------*/
/* Tooltips               */
/*------------------------*/
.tooltip {
  position: relative;
  border-bottom: none;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color:rgb(51, 45, 68);
  color: #fff;
  border-radius: 20px;
  padding: 2% 2%;
  font-size: 100%;
  font-weight: 300;
  cursor: pointer;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  left: 35%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
